altgraph==0.17.5
cabarchive==0.2.5
certifi==2026.2.25
charset-normalizer==3.4.6
customtkinter==5.2.2
cx_Freeze==8.6.2
darkdetect==0.8.0
filelock==3.25.2
freeze-core==0.6.1
idna==3.11
lief==0.17.6
packaging==26.0
pefile==2024.8.26
plyer==2.1.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
python-msilib==0.5.0
pywin32-ctypes==0.2.3
requests==2.32.5
setuptools==82.0.1
striprtf==0.0.29
urllib3==2.6.3
